// utils styles
@import './utils/vars';
@import './utils/visually-hidden';

// components styles
@import './components/base';

@import './components/logo';

@import './components/header-base';
@import './components/header-nav';
@import './components/header-contacts';

@import './components/footer-base';
@import './components/footer-contacts';
@import './components/footer-socials';
@import './components/footer-form';

@import './components/hero';
@import './components/features';
@import './components/activities';
@import './components/team';
@import './components/clients';

@import './components/portfolio-tabs';
@import './components/portfolio-products';

@import './components/modal';
@import './components/modal-register-form';