/* Наші особливості  */
.features {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
}

.features__title {
    margin: 0 auto 10px;

    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;
    color: var(--primary-txt-cl);

    @media screen and (max-width: 767px) {
    text-align: center;
    }
}

.features__icon-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    margin-bottom: 30px;
    border-radius: 4px;

    background: var(--light-bg-cl);
}

.features__desc {
    width: 100%;
    margin: 0;

    line-height: 1.71;
    color: var(--secondary-txt-cl);

    @media screen and (min-width: 768px) {
        width: 354px;
    }

    @media screen and (min-width: 1200px) {
        width: 270px;
    }
}