/* footer contacts */
.footer-contacts {
    font-style: normal;
}

.footer-contacts__list {
    display: flex;
    flex-direction: column;
    gap: 9px;

    @media screen and (max-width: 767px) {
        align-items: center;
        margin-bottom: 60px;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        text-align: center;
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .footer-contacts-wrap--indent {
        margin-right: 165px;
        flex-grow: 1;
    }
}

@media screen and (min-width: 1200px) {

    .footer-contacts-wrap--indent {
        margin-right: 70px;
        flex-grow: 1;
    }
}


.footer-contacts__link {
    text-decoration: none;
    line-height: 1.71;
    color: var(--footer-txt-cl);

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--accent-cl);
    }
        @media screen and (min-width: 768px) and (max-width: 1199px) {

        }
}

.footer-contacts__link--address {
    color: var(--white-txt-cl);
}
