/* Герой */
.hero {
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;

    background-color: var(--dark-bg-cl);
    background-image: linear-gradient(to right, #2f303a66, #2f303a66), url(../images/hero-img.jpeg);

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 1600px;
    margin: 0 auto;
}

.hero__title {
    width: 696px;
    margin: 0 auto;
    margin-bottom: 30px;

    text-transform: uppercase;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    color: var(--white-txt-cl);
}

.hero__button {
    padding: 10px 32px;
    margin: 0 auto;

    cursor: pointer;
    border: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--white-txt-cl);
    background-color: var(--accent-cl);

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: var(--button-bg-hover);
    }
}