/* portfolio tabs */
.tab__list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    gap: 8px;
}

.tab__button {
    padding: 6px 22px;

    cursor: pointer;
    border-radius: 4px;
    border: none;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: 0.03em;
    color: var(--primary-txt-cl);
    background-color: var(--light-bg-cl);

    transition-property: color, background-color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--white-txt-cl);
        background-color: var(--accent-cl);
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
            0px 2px 2px rgba(0, 0, 0, 0.12);
    }
}

