/* portfolio products */
.product {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.product__desc {
    padding: 20px 24px;
    border: 1px solid var(--border-cl);
}

.product__link {
    display: block;
    text-decoration: none;
    position: relative;

    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
            1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}

.product__thumb {
    position: relative;
    overflow: hidden;
}

.product__name {
    margin-bottom: 4px;

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primary-txt-cl);
}

.product__tag {
    font-size: 16px;
    line-height: 1.88;
    color: var(--secondary-txt-cl);
}


.overlay {
    background-color: var(--overlay-bg-cl);
    padding: 63px 24px;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    transform: translatey(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &__desc {
        font-size: 18px;
        line-height: 1.56;
        width: 322px;
        color: var(--white-txt-cl);
    }

    .product__link:hover &,
    .product__link:focus & {
        transform: translatey(0);
    }
}