/* Наша команда */
.section--other-bg {
    background-color: var(--light-bg-cl);
}

.team {
    display: flex;
    gap: 30px;
}

.team__item {
    background-color: var(--white-txt-cl);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}


.team__box {
    padding: 30px 0 30px;
}

.team__title {
    margin-bottom: 10px;
    text-align: center;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.17;
    color: var(--primary-txt-cl);
}

.team__text {
    text-align: center;
    margin-bottom: 16px;

    font-size: 16px;
    line-height: 1.17;
    color: var(--secondary-txt-cl);
}


.socials {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.socials__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    color: var(--icon-fill);

    transition-property: color, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--white-txt-cl);
        background-color: var(--accent-cl);
    }
}

.socials__icon {
    fill: currentColor;
}
